html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
}

h1, h2 {
  font-family: "Courier New";
  color: #000090;
  font-weight: normal;
}

h1 {
  text-align: center;
}

/* h1:hover, h2:hover {
  color: #755cab;
} */

p {
  font-family: "Courier New";
}

body {
  background-color: #ffe2db;
}

a {
  text-decoration: none;
}

/* div.main {
  display:block;

  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */

/* div.tab {
  visibility: hidden;
  pointer-events: auto;
}

.body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@keyframes fade_in {
  0% {opacity: 0;}
  25% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fade_out {
  0% {opacity: 1;}
  25% {opacity: 0;}
  100% {opacity: 0;}
} */

@keyframes name_rotate_vert {}
@keyframes name_rotate_horz {}

@keyframes tabs_rotate_vert {}
@keyframes tabs_rotate_horz {}
