h1, h2, h3, h4, p, a, li {
  font-family: "Times New Roman";
  color: #000090;
}

body {
  background-color: #ffe2db;
}

.header ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.header li {
  float: left;
}

.header a {
  font-size: 100%;
}

.header a:hover:not(.active) {
  /* color: #755cab; */
  text-decoration: underline;
}

.header li a {
  display: block;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

.body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.card {
  position: relative;
  display: inline-block;

  display: flex;
  align-items: center;
}

/* .center_card {
  display: block;
  margin: 0 auto;
  width: 30%;
} */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center_desc {
  margin-left: auto;
  margin-right: auto;
  width: 32em
}

.active {
  background-color: #f2d7d0;
}

.active .rotateimg90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
