h1, h2, h3, p, a {
  font-family: "Times New Roman";
  color: #000090;
}

body {
  background-color: #ffe2db;
}

.header ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.header li {
  float: left;
}

.header a {
  font-size: 115%;
}

.header a:hover:not(.active) {
  color: #755cab;
  text-decoration: underline;
}

.header li a {
  display: block;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

.body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.card {
  position: relative;
  display: inline-block;

  display: flex;
  align-items: center;
}

.active .rotateimg90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
