html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: "Courier New";
  color: #000090;
  font-weight: normal;
}
h2 {
  font-family: "Courier New";
  color: #000090;
}
p {
  font-family: "Courier New";
}

body {
  background-color: #ffe2db;
}

div.main {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div.tab {
  visibility: hidden;
}

@keyframes fade_in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fade_out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes rotate_side {}
@keyframes rotate_horz {}
