<!DOCTYPE html>
<html>
<head id="head"></head>
<script src="../partials/head.js"></script>
<script src="../../public/js/iframes_full.js"></script>
<body>
<link rel="stylesheet" href="../../public/stylesheets/std.css">

<!-- <div id="sidebar" class="sidebar"></div> -->
<div class="beside_sidebar">
  <div id='header' class='header'></div>
</div>

<div class="main">
  <hr>
  <div style="text-align:center">
    <h1>oops, i cant find what youre looking for :~[</h1>
    <img style="max-width: 350px" src="../../../resources/images/alligator.png" class="center"/>
    <p>please navigate using the menu at the top</p>
    <p>
  </div>
</div>
</body>
<base target="_top">

<!-- <script type="module" src="../partials/sidebar.js"></script> -->
<script type="module" src="../partials/header.js"></script>
</html>
