<!DOCTYPE html>
<html>
<head id="head"></head>
<script src="../partials/head.js"></script>
<script src="../../public/js/iframes_full.js"></script>
<body>
<link rel="stylesheet" href="../../public/stylesheets/std.css">

<!-- <div id="sidebar" class="sidebar"></div> -->
<div class="beside_sidebar">
  <div id='header' class='header'></div>
</div>

<div class="main">
  <hr>
  <div style="text-align:center">
    <h1>what is this alligator ?</h1>
    <img style="max-width: 350px" src="../../../resources/images/alligator.png" class="center"/>
    <p>not everything has to have a reason. i just thought it looked cool, so i used it.</p>
    <p>i found it on a <a href="https://www-zeuthen.desy.de/~kjansen/lattice/index.html">page regarding lattice qcd (quantum chromodynamics)</a>, whatever that means</p>
    <p>turns out this image was the 1990 - 1999 logo for the <a href="http://www.physics.adelaide.edu.au/cssm/lattice2012/logo.php">international symposium on lattice field theory</a></p>
    <p>pretty cool logo, i dont know why they changed it. i hope they are okay with me using it :~)</p>
    <p>
  </div>
</div>
</body>
<base target="_parent">

<script type="module" src="../partials/sidebar.js"></script>
<script type="module" src="../partials/header.js"></script>
</html>
