<!DOCTYPE html>
<html>
<head id="head"></head>
<script src="../partials/head.js"></script>
<script src="../../public/js/iframes_full.js"></script>
<body>
<link rel="stylesheet" href="../../public/stylesheets/std.css">

<div id="sidebar" class="sidebar"></div>
<div class="beside_sidebar">
  <div id='header' class='header'></div>
</div>

<div class="main">
  <hr>
  <h1>Visual language tool (alpha - 12.14.2021) яблоко</h1>
  <p>A language learning tool to help learn vocabulary. Less grammar focused; as all grammar interpretted using Google Translate API. Visual, to where there is no base 'reference' language.</p>
  <p>The idea is to roughly simulate immersion, with text, speech, and imagery.</p>
  <p>Procederally generated through database of word set w.r.t. some topic.</p>
  <p>яблоко</p>

  <hr>
  <h2>test</h2>
  <div id="test"></div>

  <!-- <hr> -->
  <!-- <h2>personal</h2> -->
  <!-- <div id="personal"></div> -->

</div>
</body>

<script type="module" src="../partials/sidebar.js"></script>
<script type="module" src="../partials/header.js"></script>
</html>
