<!DOCTYPE html>
<html>
<head id="head"></head>
<script src="../partials/head.js"></script>
<body>
<link rel="stylesheet" href="../../public/stylesheets/std.css">

<div id="sidebar" class="sidebar"></div>
<div class="beside_sidebar">
  <div id='header' class='header'></div>
</div>

<div class="main">
  <hr>
  <h1>Notes</h1>
  <p>An archive of my school work as well as my personal notes</p>

  <hr>
  <h2>Personal</h2>
  <div id="personal"></div>
  <p>(under construction)</p>

  <hr>
  <h2>School</h2>
  <div id="school"></div>
</div>

</body>
<script type="module" src="../partials/sidebar.js"></script>
<script type="module" src="../partials/header.js"></script>
<script type="module" src="../partials/notes.js"></script>
</html>
