<!DOCTYPE html>
<html>
<head id="head"></head>
<script src="../partials/head.js"></script>
<body>
<link rel="stylesheet" href="../../public/stylesheets/std.css">

<div id='header' class='header'></div>
<hr>
<h1>Notes</h1>
<p>An archive of school work as well as personal notes</p>

<hr>
<h2>Personal</h2>
<div id="personal"></div>
<p>Still under construction</p>

<hr>
<h2>School</h2>
<div id="school"></div>

</body>
<script type="module" src="../partials/header.js"></script>
<script type="module" src="../partials/notes.js"></script>
</html>
