<!DOCTYPE html>
<html>
<body>
<link rel="stylesheet" href="../../public/stylesheets/std.css">

<div id='header' class='header'></div>
<hr>
<h1>Projects</h1>
<p>An archive of school and personal projects</p>

<hr>
<h2>School</h2>
<div id="school"></div>

<hr>
<h2>Personal</h2>
<div id="personal"></div>

</body>
<script type="module" src="../../public/js/projects.js"></script>
<script type="module" src="../partials/header.js"></script>
<script type="module" src="../partials/projects.js"></script>
</html>
