<!DOCTYPE html>
<html>
<head id="head"></head>
<script src="../partials/head.js"></script>
<body>
<link rel="stylesheet" href="../../public/stylesheets/std.css">

<div id='header' class='header'></div>
<hr>
<h1>Projects</h1>
<p>An archive of my personal, academic, and professional projects</p>

<hr>
<h2>Personal</h2>
<div id="personal"></div>

<hr>
<h2>School</h2>
<div id="school"></div>

<hr>
<h2>Professional</h2>
<div id="professional"></div>
<p>(under construction)</p>

</body>
<script type="module" src="../partials/header.js"></script>
<script type="module" src="../partials/projects.js"></script>
<script type="module" src="../../public/js/projects.js"></script>
</html>
