<!DOCTYPE html>
<html>
<head id="head"></head>
<script src="../../partials/head.js"></script>
<body>
<link rel="stylesheet" href="../../../public/stylesheets/std.css">


<h4>Undergraduate Research for Intercollegiate Search for the Neutron Electric Dipole-Moment</h4>

<hr>
<p><i>Overview:</i></p>
<p></p>

<!-- <img src="../../../resources/projects//" class="center"/>
<p class="center_desc">Fig x: <i></i></p> -->

<!-- pic - text -->
<!-- <div class="card">
  <img src="../../../resources/projects//" class="center"/>
  <p class="center_desc">Fig x: <i></i></p>
  <img src="../../../resources/projects//" class="center"/>
  <p class="center_desc">Fig x: <i></i></p>
</div> -->

<!-- pic
    text -->
<!-- <div class="card">
  <img src="../../../resources/projects//" class="center"/>
  <img src="../../../resources/projects//" class="center"/>
</div>
<div class="card">
  <p class="center_desc">Fig x: <i></i></p>
  <p class="center_desc">Fig x: <i></i></p>
</div> -->


<hr>
<p><i>Personal Statement:</i></p>
<p></p>

<hr>
<p><i>My Contribution:</i></p>
<p></p>

<hr>
<p><i>Literature:</i></p>
<!-- <iframe class="center" src="../../../resources/projects//.pdf" width=60% height=950></iframe> -->

<hr>
<p><i>Media Citation(s):</i></p>
<!-- <p><a href=""></a></p> -->

</body>
<base target="_parent">
</html>
