<!DOCTYPE html>
<html>
<head id="head"></head>
<script src="../../partials/head.js"></script>

<body>
<link rel="stylesheet" href="../../../public/stylesheets/std.css">

<h4>Moog Theremin</h4>

<hr>
<p><i>Overview:</i></p>
<p>The theremin is a hands-free electronic instrument invented by Leon Theremin </p>

<hr>
<p><i>Personal Statement:</i></p>
<p>I decided to get into a little competition with my father on who can construct a better theremin. Both being trained as electrical engineers, as well as having a passion for music, this is a fun project to be working on. </p>

</body>
<base target="_parent">
</html>
