<!DOCTYPE html>
<html>
<head id="head"></head>
<script src="../../partials/head.js"></script>
<body>
<link rel="stylesheet" href="../../../public/stylesheets/std.css">

<h4>Senior Design: Directional Acoustic Deterrence of Elephants to Prevent Human-Elephant Conflict in sub-Saharan Africa</h4>

<hr>
<p><i>Statement:</i></p>
<p></p>

<hr>
<p><i>Overview:</i></p>
<p></p>

<hr>
<p><i>Literature:</i></p>
<!-- <div class="center_card">
  <img src="../../../resources/images/2020hybrid_hs1.jpg" width=500px/>
  <p>Fig. 1: <i>Visual of the various working elements of the simulation</i></p>
  <img src="../../../resources/images/2020hybrid_hs2.jpg" width=500px/>
  <p>Fig. 2: <i>Heating aspect being integrated</i></p>
  <img src="../../../resources/images/2020hybrid_ts.jpg" width=500px/>
  <p>Fig. 3: <i>Timeseries simulation showing predicted energy consumption, load, energy storage, and building temperature</i></p>
</div>

<br>
<p><i>Image Citation(s):</i></p>
<p>Ajit Toradmal, Thomas Kemmler, and Bernd Thomas. “Boosting the share of onsite PV electricity utilization by optimized scheduling of a heat pump using buildings thermal
inertia”. In: Applied Thermal Engineering 137 (2018), pp. 248–258. issn: 1359-4311.
doi: <a href="https://doi.org/10.1016/j.applthermaleng.2018.03.052">https://doi.org/10.1016/j.applthermaleng.2018.03.052</a>. url: <a href="http://www.sciencedirect.com/science/article/pii/S1359431117359902">http://www.sciencedirect.com/science/article/pii/S1359431117359902</a>.</p>

<iframe src="../../../resources/projects/school/2020hybrid/ECE498_Research___NCSU___Reutlingen_Hochschule_ARPAD_VOROS.pdf" style="margin-left: 20%" width=60% height=800></iframe> -->

</body>
<base target="_parent">
</html>
