<!DOCTYPE html>
<html>
<head id="head"></head>
<script src="../../partials/head.js"></script>
<body>
<link rel="stylesheet" href="../../../public/stylesheets/std.css">

<h4>Semantic Segmentation of Crop Damage</h4>

<hr>
<p><i>Overview:</i></p>
<p>See abstract of the report below</p>

<hr>
<p><i>My Contribution:</i></p>
<p></p>

<hr>
<p><i>Literature:</i></p>
<iframe class="center" src="../../../resources/projects/academic/2020t_crop/Project_2_2_Team_2_ECE_542.pdf" width=60% height=950></iframe>

</body>
<base target="_parent">
</html>
