<!DOCTYPE html>
<html>
<head id="head"></head>
<script src="../../partials/head.js"></script>
<body>
<link rel="stylesheet" href="../../../public/stylesheets/std.css">


<h4>Senior Design - Directional Acoustic Deterrence of Elephants to Prevent Human-Elephant Conflict in sub-Saharan Africa</h4>

<hr>
<p><i>Overview:</i></p>
<p>Since 2013, the US Army Research Office (ARO) has tried various methods in preventing human-elephant conflict in sub-Saharan Africa. Farmers, who have their entire livelihoods in their crops, must be on constant alert and will respond with lethal force when elephants trespass onto their farms. Elephants do not intentionally raid farms, but when agitated elephants can be lethal to humans via trampling. To prevent this, the ARO has tried</p>
<ol>
  <li>An elephant collar to alert, warn, give negative stimulus when the elephant approaches infrastructure, vehicles, or humans</li>
    <ul style="list-style-type: none;"><li><i>Not easy to collar wild elephants, too many failure points, safety concerns on malfunction</i></li></ul>
  <li>RFID tag which able to alrt, warn, trigger a response when an elephant approaches infrastructure, vehicles, or humans</li>
    <ul style="list-style-type: none;"><li><i>Current RFID technology incapable of long range detectrion, no feasible way to attach RFID tag to elephant</i></li></ul>
  <li>Infrasound detection system that alerts humans when elephant is present or heading toward a boundary</li>
    <ul style="list-style-type: none;"><li><i>Testing and evaluation in real world scenarious proven difficult, very expensive</i></li></ul>
  <li>Use a commercially available long range acoustic device (LRAD), high amplitude sound cannon</li>
    <ul style="list-style-type: none;"><li><i>High amplitude sound enraged animals, put them into an aggressive posture</i></li></ul>
</ol>

<p>Now the ARO is attempting to create another acoustic deterrence device, similar to the LRAD, but more passive. The idea is to make a 'wall of sound', a barrier using directional acoustic waves surrounding a local farm or other infrastructure. The 'wall' is simply used as an analogy throughout this page, but ideas like tracking sound beams are also entertained.</p>

<p>The ARO has come to North Carolina State Unviersity for a senior design team to provide a proof-of-concept for this audio deterrence device. As expected, I am part of this team titled: Vectorized Acoustic Deterrence of Elephants Research — or V.A.D.E.R., because why not :)</p>

<p>Out of various methods in making directional sound, a parametric array was chosen. The parametric array using an array of small ultra-sonic transducers to emit modulated soundwaves. Since the directionality of acoustic waves, when emitted orthogonal to some surface (speaker), the wave has an decreasing width (more narrow, therefore more directional). An incredible property exists in non-linear acoustics, where scattering of compressional waves roughly result in the envelope of the pre-scattered wave. Meaning that if an sound wave is amplitude-modulated at an ultrasonic carrier frequency, no one will be able to hear the soundwave until it interacts and scatters with large non-linear gradient in medium (e.g. sound traveling through air then hitting a dense wall), because it will get demodulated upon contact. More on this <a href="https://en.wikipedia.org/wiki/Sound_from_ultrasound">here</a>.</p>

<p>This is a two semester project which is still underway, so I will be updating this page every milestone</p>

<hr>
<p><i>Personal Statement:</i></p>
<p>I am the team lead. Other than that, none at the moment (<b>team project</b> still in progress)</p>

<!-- <hr>
<p><i>My Contribution:</i></p>
<p>As of November 2020, I have worked on </p> -->

<hr>
<p><i>Literature:</i></p>
<iframe class="center" src="../../../resources/projects/academic/2020vader/pdr.pdf" width=60% height=700></iframe>
<p class="center_desc">Preliminary Design Review Presentation: <i>Slide animations and GIF's from PPT do not transfer over to PDF</i></p>

<br>
<img style="max-width: 1250px" src="../../../resources/projects/academic/2020vader/dd.png" class="center"/>
<p class="center_desc">Fig 1: <i>Design Day Presentation</i></p>


<br>
<img style="max-width: 1250px" src="../../../resources/projects/academic/2020vader/diff_prototypes.jpg" class="center"/>
<p class="center_desc">Fig 2: <i>Prototype Stages</i></p>

</body>
<base target="_parent">
</html>
