<!DOCTYPE html>
<html>
<head id="head"></head>
<script src="../../partials/head.js"></script>
<body>
<link rel="stylesheet" href="../../../public/stylesheets/std.css">

<h4>Semantic Segmentation of Crop Damage</h4>

<hr>
<p><i>Overview:</i></p>
<p>See abstract of the report below</p>

<hr>
<p><i>My Contribution:</i></p>
<p></p>

<hr>
<p><i>Literature:</i></p>
<p>Proposal:</p>
<a href="../../../resources/notes/academic/2020%20-%20ECE%20542/Voros_Arpad_ECE542_Proj2Proposal.pdf">Voros_Arpad_ECE542_Proj2Proposal.pdf</a><br>
<p>Report:</p>
<a href="../../../resources/projects/academic/2020t_crop/Voros_Arpad_ECE542_Proj2.pdf">Voros_Arpad_ECE542_Proj2.pdf</a><br><br>
<iframe class="center" src="../../../resources/projects/academic/2020t_crop/Voros_Arpad_ECE542_Proj2.pdf" width=60% height=950></iframe>

</body>
<base target="_parent">
</html>
