<!DOCTYPE html>
<html>
<head id="head"></head>
<script src="../../partials/head.js"></script>
<body>
<link rel="stylesheet" href="../../../public/stylesheets/std.css">

<h3>Analysis and Implementation of a Semantic Auto-Encoder for Zero-Short Learning</h3>
<h4>Individual Project</h4>

<p>GitHub repo(s)
  <br>
  — <a href="https://github.com/arpadav/zsl_sae_matlab">zsl_sae_matlab</a>
</p>

<hr>
<p><i>Overview:</i></p>
<p></p>

<!-- <img style="max-width: 600px" src="../../../resources/projects//2021t_zsl/" class="center"/>
<p class="center_desc">Fig x: <i></i></p> -->

<!-- pic - text -->
<!-- <div class="card">
  <img style="max-width: 600px" src="../../../resources/projects//2021t_zsl/" class="center"/>
  <p class="center_desc">Fig x: <i></i></p>
  <img style="max-width: 600px" src="../../../resources/projects//2021t_zsl/" class="center"/>
  <p class="center_desc">Fig x: <i></i></p>
</div> -->

<!-- pic
    text -->
<!-- <div class="card">
  <img style="max-width: 600px" src="../../../resources/projects//2021t_zsl/" class="center"/>
  <img style="max-width: 600px" src="../../../resources/projects//2021t_zsl/" class="center"/>
</div>
<div class="card">
  <p class="center_desc">Fig x: <i></i></p>
  <p class="center_desc">Fig x: <i></i></p>
</div> -->


<hr>
<p><i>Personal Statement:</i></p>
<p></p>

<!-- <hr>
<p><i>My Contribution:</i></p>
<p></p> -->

<hr>
<p><i>Literature:</i></p>
<a href="../../../resources/notes/academic/2021%20-%20ECE%20633/Voros_Arpad_ECE633_study.pdf">Voros_Arpad_ECE633_study.pdf</a><br><br>
<iframe class="center" src="../../../resources/notes/academic/2021%20-%20ECE%20633/Voros_Arpad_ECE633_study.pdf" width=60% height=950></iframe>

<hr>
<p><i>Media Citation(s):</i></p>
<!-- <p><a href=""></a></p> -->

</body>
<base target="_parent">
</html>
