<!DOCTYPE html>
<html>
<head id="head"></head>
<script src="../../partials/head.js"></script>
<body>
<link rel="stylesheet" href="../../../public/stylesheets/std.css">


<h4>Computer Vision - Facial Recognition using Gaussian Mixture Models, Adaboost & Haar Features, and more...</h4>

<hr>
<p><i>Overview:</i></p>

<hr>
<p><i>Personal Statement:</i></p>

<!-- <hr>
<p><i>My Contribution:</i></p>
<p>As of November 2020, I have worked on </p> -->

<hr>
<p><i>Literature:</i></p>
<iframe class="center" src="../../../resources/projects/academic/2021t_cmpvis/Voros_Arpad_ECE_763_Project_1.pdf" width=60% height=700></iframe>
<iframe class="center" src="../../../resources/projects/academic/2021t_cmpvis/Voros_Arpad_ECE_763_Project_2.pdf" width=60% height=700></iframe>
<!-- <p class="center_desc">Preliminary Design Review Presentation: <i>Slide animations and GIF's from PPT do not transfer over to PDF</i></p> -->


</body>
<base target="_parent">
</html>
