<!DOCTYPE html>
<html>
<head id="head"></head>
<script src="../../partials/head.js"></script>
<body>
<link rel="stylesheet" href="../../../public/stylesheets/std.css">


<h3>Vocabulary-emphasized Language Learning Application using no 'Reference' Language</h3>
<h4>Individual Project</h4>
<h4><span style="font-weight:normal">Status:</span> In Progress</h4>

<hr>
<p><i>IN PROGRESS, <a href="../../../language">SEE HERE FOR MORE DETAILS.</a></i></p>

<!-- <hr>
<p><i>Overview:</i></p>
<p></p> -->

<!-- <img style="max-width: 600px" src="../../../resources/projects//2022f_lang/" class="center"/>
<p class="center_desc">Fig x: <i></i></p> -->

<!-- pic - text -->
<!-- <div class="card">
  <img style="max-width: 600px" src="../../../resources/projects//2022f_lang/" class="center"/>
  <p class="center_desc">Fig x: <i></i></p>
  <img style="max-width: 600px" src="../../../resources/projects//2022f_lang/" class="center"/>
  <p class="center_desc">Fig x: <i></i></p>
</div> -->

<!-- pic
    text -->
<!-- <div class="card">
  <img style="max-width: 600px" src="../../../resources/projects//2022f_lang/" class="center"/>
  <img style="max-width: 600px" src="../../../resources/projects//2022f_lang/" class="center"/>
</div>
<div class="card">
  <p class="center_desc">Fig x: <i></i></p>
  <p class="center_desc">Fig x: <i></i></p>
</div> -->

<!--
<hr>
<p><i>Personal Statement:</i></p>
<p></p> -->

</body>
<base target="_top">
</html>
